*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json
plan_output.txt
*.tfplan
crash.log
plan_output.txt
terraform.tfstate.d
devops-sandbox-452616-082567816534.json
default.json
check.json
terraform.tfvars
